[class*="container"]{
    height:300px;
    width:600px;
    border:1px solid gray;
    display:grid;
}
/**
* Grids with specific positioning
**/

.container-1{
    grid-template-columns: [first] 40px [line2] 50px [line3] auto [col4-start] 50px [five] 40px [end];
    grid-template-rows: [row1-start] 25% [row1-end] 100px [third-line] auto [last-line];
}

.item-a {
    background-color:pink;
    grid-column-start: 2;
    grid-column-end: five;
    grid-row-start: row1-start;
    grid-row-end: 3;
}
.item-b {
    background-color:skyblue;
    grid-column-start: 1;
    grid-column-end: span col4-start;
    grid-row-start: 2;
    grid-row-end: span 2;  /*börja på kolumnlinje 1 och ta upp de följande 2 kolumnerna*/
}
.item-c {
    background-color:orange;
    grid-column-start: 3;
    grid-column-end: span 2;
    grid-row-start: third-line;
    grid-row-end: 4;

    /*Short hand*/
    grid-column:3/span 2; /*start/end*/
    grid-row:third-line/4; /*start/end*/
}

/**
* Grids without specific positioning
**/
.container-2{
    grid-template-columns:repeat(3, 1fr); /*1fr 1fr 1fr*/
    grid-template-rows:auto;

    padding:10px;
    column-gap:10px; /*creating gaps between columns*/
    row-gap:10px;   /*creating gaps between rows*/

    /*Short-hand for gap*/
    gap:10px 10px; /*<column-gap> <row-gap>*/

    
}
[class*="box"]{
    border:1px solid;
}